{% extends "layout.html" %}
{% block content %}
<h2 class="section-title">About</h2>
<div class="about-content">
    <p>The HoneyRise Marketplace provides a structure for players and nations to trade in-game items for in-game items</p>
    <p>It was designed to mimic the real life Amazon.com and connects buyers with sellers</p>

    <h1>Instant Tags</h1>
    <p>Any post tagged with "Instant" will provide cordinates to the items (or any other instant fulfillment information) instantly apon purchase. The buyer must place payment in the chest containing the items</p>
    <p>If a post is not tagged, apon purchase a discord message will be instantly sent to the server discord with purchase information, it is then the sellers job to fulfil the order</p>

    <h1>Scamming</h1>
    <p>If either party in a transaction does not furfil thier duties, a HoneyRise employee will attempt to resolve the transaction. If this is not possible the employee holds the right to ban their account (and any future accounts they may create) from this marketplace and website</p>
</div>
{% endblock %}
