{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block content %}
    <div class="background-locations">
        <div class="overlay-locations">
            <div class="description-locations">
                <p><!-- company description goes here --></p>
            </div>
            <div class="container-locations">
                <h2 class="section-title-locations">The HoneyRise Corporation</h2>
                <ul class="locations-list">
                    <li class="location-box-locations">
                        <div class="image-box-locations">
                            <img src="{{ url_for('static', filename='honeyrisebar.png') }}" alt="HoneyRise Bar 2.0"> <!-- example image -->
                        </div>
                        <div class="location-info-locations">
                            <span class="location-title-locations">HoneyRise Bar 2.0</span>
                            <span class="location-details-locations">Located in Rivendell</span>
                            <span class="location-date-locations">First Opened 6/19/2024</span>
                            <button class="status-button-locations status-active-locations">Active</button>
                            <button class="toggle-menu-locations" onclick="toggleMenu('menu1')">Toggle Info</button>
                        </div>
                        <ul class="menu-locations" id="menu1">
                            <li>Open to the public</li>
                            <li>Purpose: A showcase of HoneyRise architecture and creativity. A place to meet, trade and grab some honey</li>
                            <li>Produces: Potions, Honey, Honeycomb</li>
                        </ul>
                    </li>
                    <li class="location-box-locations">
                        <div class="image-box-locations">
                            <img src="{{ url_for('static', filename='oasis.png') }}" alt="HoneyRise Oasis"> <!-- example image -->
                        </div>
                        <div class="location-info-locations">
                            <span class="location-title-locations">HoneyRise Oasis</span>
                            <span class="location-details-locations">Located in Rivendell</span>
                            <span class="location-date-locations">First Operational 4/15/2024</span>
                            <button class="status-button-locations status-active-locations">Active</button>
                            <button class="toggle-menu-locations" onclick="toggleMenu('menu5')">Toggle Info</button>
                        </div>
                        <ul class="menu-locations" id="menu5">
                            <li>Closed to the public</li>
                            <li>Purpose: The most secure facility in Rivendell with a goal of repopulating the inner realms' villager population</li>
                            <li>Produces: Villagers</li>
                        </ul>
                    </li>
                    <li class="location-box-locations">
                        <div class="image-box-locations">
                            <img src="{{ url_for('static', filename='treeFarm.png') }}" alt="Empty"> <!-- example image -->
                        </div>
                        <div class="location-info-locations">
                            <span class="location-title-locations">HoneyRise Tree Farm</span>
                            <span class="location-details-locations">Located in the outskirts of Rivendell</span>
                            <span class="location-date-locations">First Operational 6/28/2024</span>
                            <button class="status-button-locations status-active-locations">Activate</button>
                            <button class="toggle-menu-locations" onclick="toggleMenu('menu2')">Toggle Info</button>
                        </div>
                        <ul class="menu-locations" id="menu2">
                            <li>Closed to the public</li>
                            <li>Purpose: Grow and harvest trees for selling on the HoneyRise Martketplace, harvest saplings to populate the inner realm with rare trees</li>
                            <li>Produces: Cherry wood, spruce wood, jungle wood, other wood</li>
                        </ul>
                    </li>
                    <li class="location-box-locations">
                        <div class="image-box-locations">
                            <img src="{{ url_for('static', filename='location2.jpg') }}" alt="Empty"> <!-- example image -->
                        </div>
                        <div class="location-info-locations">
                            <span class="location-title-locations">HoneyRise Hotel</span>
                            <span class="location-details-locations">Under construction in Rivendell</span>
                            <span class="location-date-locations">-</span>
                            <button class="status-button-locations status-inactive-locations">Inactive</button>
                            <button class="toggle-menu-locations" onclick="toggleMenu('menu3')">Toggle Menu</button>
                        </div>
                        <ul class="menu-locations" id="menu3">
                            <li>Closed to the public until completion</li>
                            <li>Purpose: To house villagers from the oasis</li>
                            <li class="villagerItem-locations">Produces: Eventually villager trading will become available</li>
                        </ul>
                    </li>
                    <li class="info-box-locations">
                        <div class="location-info-locations">
                            <span class="info-locations">To buy an item highlighted in purple, visit the establishment and purchase it from a villager.</span>
                            <span class="info-locations">To buy any other item, visit the location while Bent___Bread is online or buy it from the marketplace.</span>
                        </div>
                    </li>
                    <!-- Add more locations as needed -->
                </ul>
            </div>
        </div>
    </div>
    <script>
        function toggleMenu(menuId) {
            var menu = document.getElementById(menuId);
            if (menu.style.display === "none" || menu.style.display === "") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        }
    </script>
{% endblock %}
