{% extends "layout.html" %}
{% block content %}
<h2 class="section-title">Login</h2>
<form method="POST" action="{{ url_for('login') }}" class="login-form">
    <input type="text" name="username" placeholder="Username" required class="input-field">
    <input type="password" name="password" placeholder="Password" required class="input-field">
    <button type="submit" class="submit-button">Login</button>
</form>
<p>Don't have an account? <a href="{{ url_for('signup') }}" class="signup-link">Sign up here</a></p>
{% endblock %}
